body{
    font-size: 16px;
    margin: 0 auto;
    padding: 2em;
}

/* ===== Typography =====  */

ul{
    list-style: none;
    padding: 0; 
    margin: .5em;
}

li{
    /* margin: .5em 0; */
    overflow-wrap: break-word;
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}

.completed{
    text-decoration: line-through;
    color: black;
}


/* ===== Layout ===== */
.container{
    width: 40%;
    margin: 0 auto;
}

.box{
    /* border: 2px solid black; */
}

/* ===== Input Container  ===== */
.container-input{
    padding: .5em;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgba(211, 211, 211, .5);
    margin-bottom: 1em;
}

input[type="text"]{
    padding: .5em;
}

button{
    padding: .5em 1em;
    border-radius: 4px;
    border: 1px solid black;
}

/* ===== Tasks Container  ===== */
.container-tasks{
    padding: .5em;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgba(211, 211, 211, .5);
}

